
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NX_DAEMON=""
SANITY_API_DATASET=""
SANITY_API_PROJECT_ID=""
SANITY_API_READ_TOKEN="
SANITY_API_WRITE_TOKEN=""
SANITY_STUDIO_DATASET=""
SANITY_STUDIO_PROJECT_ID=""
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
VERCEL=""
VERCEL_ENV="development"
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_URL=""
