@import "tailwindcss";

@theme {
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-kodemono: var(--font-kodemono);
  --font-outfit: var(--font-outfit);
  --font-oxanium: var(--font-oxanium);
  --font-russo: var(--font-russo);

  --color-black: #000;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-gray-gradient {
  @apply bg-linear-to-b py-2 from-white via-white to-white/50 bg-clip-text text-transparent;
}

@utility text-gray {
  @apply bg-linear-to-b from-white to-gray-200/50 bg-clip-text text-transparent;
}

@utility text-dark-gray {
  @apply bg-linear-to-b from-gray-200/40 to-gray-200/30 bg-clip-text text-transparent;
}

@utility border-gray {
  @apply border border-[#181818];
}

@layer utilities {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    scroll-behavior: smooth;
    font-feature-settings:
      "case" 1,
      "rlig" 1,
      "calt" 0;
  }

  html,
  body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
      "Helvetica", sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-black text-white antialiased;
  }

  body {
    position: relative;
    min-height: 100%;
    margin: 0;
  }

  body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  p a {
    @apply hover:underline;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .height-screen-helper {
    min-height: calc(100vh - 80px);
  }

  .heading-text {
    background: linear-gradient(to bottom, #ffffff, #a6a6aa);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .primary-text {
    background: linear-gradient(to bottom, #ffffffa0, #787c80);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

  @keyframes rotate {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 90s linear infinite;
  min-width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 90s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
