:root {
   --font-stack: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   --primary-color: #000000;
   /* A modern purple as the primary color */
   --background-color: #ffffff;
   /* White background for light mode */
   --text-color: #333333;
   /* Dark grey for text to ensure readability */
   --border-radius: 0.5rem;
   /* Rounded corners for a modern feel */
   --border-color: #e2e8f0;
   /* Light grey border color */
   --input-background: #edf2f7;
   /* Very light grey for input fields background */
   --input-border-color: #cbd5e0;
   /* Light grey for input border */
   --button-hover-color: #4c1d95;
   /* A darker purple for button hover state */
   --error-color: #e53e3e;
   /* Red color for error states or messages */
}

/* Base styles */
body,
input,
button {
   font-family: var(--font-stack);
   color: var(--text-color);
}

.cl-main {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cl-header {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cl-headerTitle {
   color: #a0a0b1;
}

.cl-headerSubtitle {
   color: #858595;
}

/* Default styles for small screens */
.cl-card {
   width: 95vw;
   border-radius: 0px;
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(8px);

}

@media (min-width: 640px) {
   .cl-card {
      width: 88vw;
      /* 25% of viewport width */
   }
}

@media (min-width: 1024px) {
   .cl-card {
      width: 100%;

   }
}

/* Sign Up Form Styles */
.clsignUp-root .cl-headerTitle {
   color: #fff;
   /* White text color */
}

.clsignUp-root .cl-headerSubtitle {
   color: #fff;
   /* White text color */
}

.signUp.start.title {
   color: #fff;
   /* White text color */
}

.signUp.start.subtitle {
   color: #fff;
   /* White text color */
}


/* Social Buttons  */
.cl-socialButtonsBlockButton {
   color: #a0a0b1;
   background-color: #383841;
}

.cl-socialButtonsBlockButton:hover {
   color: #fff;
   background-color: #686976;
}

.cl-dividerLine {
   background-color: #858595;

}

.cl-dividerText {
   color: #a0a0b1;
}

/* Social Buttons  */

/* Form  */
.cl-formFieldInput {
   padding: 12px;
   border: 1px solid #1e1e20;
   border-radius: 4px;
   font-size: 16px;
   background-color: #121212;
}

.cl-formFieldLabel {
   width: 100%;
   color: #858595;
}


.cl-formFieldInput,
.cl-formFieldInfoText,
.cl-formFieldSuccessText,
.cl-userPreviewMainIdentifier,
.cl-userPreviewSecondaryIdentifier,
.cl-profileSectionTitleText,
.cl-profileSectionContent,
.cl-profileSectionContent__username,
.cl-profileSectionContent__danger,
.userProfile.start.dangerSection.deleteAccountButton {
   color: #a0a0b1;
}

.userButtonPopoverActionButton:hover {

   background-color: #1e1e20;
}

.cl-navbar {
   width: 200px;
}

.cl-scrollBox {
   width: 800px;
}

.cl-userButtonPopoverActionButtonText {
   color: #a0a0b1;
}

.cl-userButtonPopoverActionButtonIcon {
   color: #a0a0b1;

}

.cl-formFieldInputShowPasswordButton {
   color: #a0a0b1;

}

.cl-formFieldInputShowPasswordButton:hover {
   color: #6a6a75;

}

.cl-formFieldInput:focus {
   outline: none;
   border-color: #505163;
   box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}

.cl-formFieldInput[aria-invalid="true"] {
   border-color: rgb(233, 74, 74);
   /* Red border for invalid input */
}

.cl-formFieldErrorText {
   color: rgb(74, 233, 233);
}

.cl-formFieldErrorText__password {
   color: rgb(233, 74, 74);
}

/* Forms */

/* Footer */
.cl-footerAction {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;

}

.cl-footerActionText {
   color: #a0a0b1;
}

.cl-footerActionLink {
   color: #a0a0b1;
   font-weight: 600;
   background-color: #383841;
   border-radius: 4px;
   margin-left: 8px;
   padding: 8px;
}

.cl-footerActionLink:hover {
   color: #a0a0b1;
   font-weight: 600;
   background-color: #686976;
   border-radius: 4px;
   margin-left: 8px;
   padding: 8px;
}

/* Footer */


.cl-userButtonPopoverCard {
   height: 180px;


}